---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.vue";
import Navbar from "../components/Navbar/Navbar.vue";
---

<Layout title="Rangga Putra R | Software Engineer">
  <main>
    <Navbar client:idle />
    <Hero />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    max-width: 1000px;
  }
</style>
