---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.vue";
import Navbar from "../components/Navbar/Navbar.vue";
import ExperienceSection from "../components/ExperienceSection/ExperienceSection.vue";
import WorkSection from "../components/WorkSection/WorkSection.vue";
import VerticalAccent from "../components/VerticalAccent/VerticalAccent.vue";
import Footer from "../components/Footer/Footer.vue";
import { works, experiences } from "../data";
---

<Layout title="Rangga Putra R | Software Engineer">
  <main>
    <VerticalAccent />
    <Navbar client:idle />
    <Hero client:load />
    <ExperienceSection data={experiences} client:visible />
    <WorkSection data={works} client:visible />
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    max-width: 1000px;
  }
</style>
